// @import '../common.scss';

.next-card-body {
  // 刷新
  .reload {
    position: absolute;
    right: 0;
    color: #4077CC;
  }
  // txid
  .next-table-cell-wrapper a {
      color: #4077CC;
  }

}
